doctype html
html
    head
        title Singer Requests
        link(rel='stylesheet', href='/stylesheets/requests.css')
    body
        -let pendingTableData = pendingData
        -let completedTableData = completedData
        div(class="header-left")
            h2 Pending Requests
        div(id="countdown", class="header-right")
        div(class="table-container")  
            div(class='table-div')
                table(class="order-table table")
                    thead
                        tr
                            th Requested
                            th Singer
                            th Title
                            th Artist
                            th Disc Ref
                            th Duration
                            th Completed
                    tbody
                        each element in pendingTableData
                            -let dt = element.DateTime.toLocaleString()
                            tr  
                                td=dt.match(/[0-9]{1,2}:[0-9]{1,2}:[0-9]{1,2}/g)
                                td=element.Singer
                                td=element.Title
                                td=element.Artist
                                td=element.DiscRef
                                td=element.Length
                                td
                                    input(type="button", class="button", value="Yes", onclick="clickedCompleted(\"" + element.GUID + "\")")
            p
                h2 Completed Requests
            div(class='table-div')
                table(class="order-table table")
                    thead
                        tr
                            th Completed
                            th Singer
                            th Title
                            th Artist
                            th Disc Ref
                    tbody
                        each element in completedTableData
                            -let dt = element.CompletedDateTime.toLocaleString()
                            tr
                                td=dt.match(/[0-9]{1,2}:[0-9]{1,2}:[0-9]{1,2}/g)
                                td=element.Singer
                                td=element.Title
                                td=element.Artist
                                td=element.DiscRef
                                td(style="display:none;")=element.GUID
        script(type='text/javascript', src="/javascripts/requests.js")     