doctype html
html
    head
        title Search Results
        link(rel='stylesheet', href='/stylesheets/results.css')
    body
        p 
            h1 Search Results
        -let tableData = data
        div
            input(type="button", class="button", value="Back", onclick="clickedBack()")
            input(type="search", class="light-table-filter", data-table="order-table", placeholder="Filter")
        br    
        div(class='table-div')
            table(class="order-table table")
                thead
                    tr
                    if field == 'title'
                        th Disc Ref
                        th Title
                        th Artist
                        th Key
                        th Duration
                    else
                        th Disc Ref
                        th Artist
                        th Title
                        th Key
                        th Duration
                tbody
                    each element in tableData
                        tr
                        if field == 'title'
                            td=element.DiscRef
                            td=element.Title
                            td=element.Artist
                            td=element.Key
                            td=element.Length
                            td(style="display:none;")=element.UID
                        else
                            td=element.DiscRef
                            td=element.Artist
                            td=element.Title
                            td=element.Key
                            td=element.Length
                            td(style="display:none;")=element.UID
                
        script(type='text/javascript', src="/javascripts/results.js")
        script(type='text/javascript', src="/javascripts/ping.js")         
